.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1080px) {
    .places {
        max-width: 928px;
        padding: 0 48px;
    }
}


@media screen and (max-width: 900px) {
    .places {
        padding: 0;
        margin-bottom: 88px;
        max-width: 720px;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .places {
        margin-bottom: 88px;
    }
}