@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place_url-heading.css);
@import url(./__url/place__url.css);
.place {
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: 460px 1fr;
    grid-auto-rows: max-content;
    margin-bottom: 80px;
    justify-content: center;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 1000px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: max-content max-content;
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: max-content max-content;
        grid-gap: 32px;
    }
}