.cover__subtitle {
    max-width: 360px;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    padding-bottom: 21%;
    margin: 0;
    z-index: 2;    
}

@media screen and (max-width: 525px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        padding: 0;
        margin: 0 16px 33px;
    }
}